.full-width-form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  padding: 2rem;
  margin: 2rem;
  box-sizing: border-box;
  gap: 0.8rem;
  background: #222222;
  border-radius: 10px;
}

.full-width-form select,
.full-width-form span {
  flex: 1 1 auto;
  min-width: 100px;
}

p {
  white-space: nowrap;
  font-size: 20px;
}

.mat-dropdown {
  padding: 5px 20px;
  margin: 0 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  height: fit-content;
}

.dropdown-container {
  display: flex;
  line-height: 0;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.title-text {
  display: flex;
  font-size: 50px;
  justify-content: center;
}

.submit-btn {
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 20px;
  background: transparent;
  color: white;
  outline: none;
  border: 1px solid white;

  &:disabled {
    color: #999;
    border: 1px solid #999;
    cursor: not-allowed;
  }
}

.arrow-icon {
  min-width: unset !important;
}

.result-section {
  width: 90vw;
  padding: 50px;
  white-space: break-spaces;
  max-height: 500px;
  overflow-y: scroll;
}

.error-message {
  display: flex;
  justify-content: center;
}
