<section>
  <h1 class="title-text">How can UniWise help you?</h1>
  <div class="full-width-form">
    <div class="dropdown-container">
      <p>I'm planning to pursue a/an</p>
      <mat-select class="mat-dropdown" [(ngModel)]="selectedType" name="program-type" [disabled]="isLoading">
        @for (programType of programTypes; track programType) {
        <mat-option [value]="programType.value">
        {{ programType.viewValue }}
        </mat-option>
        }
      </mat-select>

      <p>in</p>
      <mat-select class="mat-dropdown" [(ngModel)]="selectedField" name="program-field" [disabled]="isLoading">
        @for (programField of programFields; track programField) {
        <mat-option [value]="programField.value">
        {{ programField.viewValue }}
        </mat-option>
        }
      </mat-select>

      <p>within a duration of</p>
      <mat-select class="mat-dropdown" [(ngModel)]="selectedDuration" name="program-duration" [disabled]="isLoading">
        @for (programDuration of programDurations; track programDuration) {
        <mat-option [value]="programDuration.value">
        {{ programDuration.viewValue }}
        </mat-option>
        }
      </mat-select>

      <p>, with an estimated budget of</p>
      <mat-select class="mat-dropdown" [(ngModel)]="selectedBudget" name="budget-range" [disabled]="isLoading">
        @for (programBudget of programBudgets; track programBudget) {
        <mat-option [value]="programBudget.value">
        {{ programBudget.viewValue }}
        </mat-option>
        }
      </mat-select>
    </div>
      @if (!isLoading) {
        <div class="button-container">
          <button class="submit-btn"
                  (click)="onPrompt()"
                  [disabled]="(!this.selectedType || !this.selectedField || !this.selectedDuration || !this.selectedBudget)">
                  Please help me to find the best suited program based on my requirements
          </button>
        </div>
    }
    </div>
  @if (isLoading) {
    <app-loader></app-loader>
  }

  @if (isError && !isLoading) {
    <div class="error-message">
      <p>Something went wrong!</p>
    </div>
  }
  <div class="result-section" [innerHTML]="result?.summary"></div>
</section>


