.full-width-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 90vw;
  padding: 2rem;
  margin: 2rem;
  box-sizing: border-box;
  gap: 0.8rem;
  background: #222222;
  justify-content: center;
  border-radius: 10px;
}

.full-width-form select,
.full-width-form span {
  flex: 1 1 auto;
  min-width: 100px;
}

p {
  white-space: nowrap;
  font-size: 20px;
}

.mat-dropdown {
  padding: 0 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}

.title-text {
  display: flex;
  font-size: 50px;
  justify-content: center;
}

.submit-btn {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.arrow-icon {
  min-width: unset !important;
}

.result-section {
  padding: 50px;
  white-space: break-spaces;
  max-height: 500px;
  overflow-y: scroll;
}
